global:
  scrape_interval: 2s
  evaluation_interval: 2s

rule_files:
  - /etc/prometheus/alert.rules.yml

scrape_configs:
  - job_name: job-manager
    metrics_path: /metrics
    static_configs:
      - targets: ["job-manager:8000"]
